
  <div ng-app="milkyWay">
    <div class="headerDiv">
      <h1 class="headerText">Add Customer</h1>
    </div>

    <form name="customerForm">
    <div class="formContainer">
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Customer Name</label>
          <input type="text" name="customerName" ng-model="user.custName" required>
          <div ng-messages="customerForm.customerName.$error" role="alert">
            <div ng-message="required">Customer Name is required!</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Customer Number</label>
          <input type="number" name="customerNumber" ng-model="user.custNumber" required maxlength="10" minlength="10">
          <div ng-messages="customerForm.customerNumber.$error" role="alert">
            <div ng-message="required">Customer Number is required!</div>
            <div ng-message="minlength">Invalid Phone number</div>
            <div ng-message="maxlength">Invalid Phone number</div>
          </div>
        </md-input-container>
      </div>
    </div>
  </form>
    <div class="text-center">
      <md-button class="md-raised md-primary loginBtn" ng-click="addCustomer()"><i class="fa fa-plus" aria-hidden="true"></i>  Add Customer</md-button>

    </div>
  </div>
