
  <div ng-app="milkyWay">
    <div class="headerDiv  ">
      <h1 class="headerText" translate="add_customer"></h1>
    </div>

    <form name="customerForm">
    <div class="formContainer">
      <div layout-gt-sm="row">
        <md-input-container  class="md-block" flex-gt-sm>
          <label translate="Customer_name">Customer Name</label>
          <input type="text" name="customerName" ng-model="user.custName" required>
          <div ng-messages="customerForm.customerName.$error" role="alert">
              <div ng-message="required"><span translate="Customer_Name_is_required">Customer Name is required!</span></div>
          </div>
        </md-input-container>
        <md-input-container  class="md-block" flex-gt-sm>
          <label translate="Customer_number">Customer Number</label>
          <input type="number" name="customerNumber" ng-model="user.custNumber" required maxlength="10" minlength="10">
          <div ng-messages="customerForm.customerNumber.$error" role="alert">
              <div ng-message="required" ><span translate="Customer_Number_is_required">Customer Number is required!</span></div>
              <div ng-message="minlength" ><span translate="Invalid_Phone_number">Invalid Phone number</span></div>
              <div ng-message="maxlength" ><span translate="Invalid_Phone_number">Invalid Phone number</span></div>
        </div>
        </md-input-container>
      </div>
    </div>
  </form>
    <div class="text-center">
      <md-button aria-label="EverGreen" class="md-raised md-primary loginBtn  " ng-click="addCustomer()"><i class="fa fa-plus" aria-hidden="true"></i> <span translate="add_customer"></span></md-button>

    </div>
    <md-button class="md-fab fabBtnPosition  " aria-label="EverGreen" ui-sref="home()">
           <div class=""><i class="fa fa-home" aria-hidden="true"></i></div>
       </md-button>
  </div>
