
  <div  ng-app="milkyWay">
    <div class="headerDiv">
      <h1 class="headerText">Customer</h1>
    </div>
      <div layout-gt-sm="row">
        <div class="listItem" ng-hide="editorEnabled">
          <div class="custName"><h5 style="font-weight:bold"><i class="fa fa-user fn18" aria-hidden="true"></i> : {{customer.name}} </h5></div>
          <div class="custPhone"><h6 style="font-size:14px ; font-weight:bold"><i class="fa fa-phone fn18" aria-hidden="true"></i> : {{customer.phoneNo}}</h6></div>

        </div>
        <div class="listItem" ng-show="editorEnabled">
          <div class="formContainer">
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Customer Name</label>
                <input type="text" ng-model="tempName">
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Customer Number</label>
                <input type="number" ng-model="tempPhoneNo">
              </md-input-container>
            </div>
          </div>
        </div>
    </div>

    <div class="text-center">

      <md-button class="md-raised md-primary toggleBtnStyle" style="width: 80%"   ng-hide="editorEnabled" ng-click="enableEditor()"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</md-button>
      <md-button class="md-raised md-primary toggleBtnStyle"  ng-show="editorEnabled" ng-click="disableEditor()"><i class="fa fa-times" aria-hidden="true"></i> cancel</md-button>
      <md-button class="md-raised md-primary toggleBtnStyle"  ng-show="editorEnabled" ng-click="updateCustomer()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Update </md-button>
      <md-button class="md-raised md-primary toggleBtnStyle "  ng-show="editorEnabled" ng-click="deleteCustomer()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Delete </md-button>
    </div>
  </div>
