
  <div  ng-app="milkyWay">
    <div class="headerDiv">
      <h1 class="headerText" translate="Deliver">Deliver</h1>
    </div>
    <div class="formContainer">
      <div layout-gt-sm="row">
        <div class="listItem">
          <div class="custName"><h5 style="font-weight:bold"><i class="fa fa-user fn18" aria-hidden="true"></i> : {{customer.name}} </h5></div>
          <div class="custPhone"><h6 style="font-size:14px ; font-weight:bold"><i class="fa fa-phone fn18" aria-hidden="true"></i> : {{customer.phoneNo}}</h6></div>
          <div class="">
            <h6 class="selectQuantity"><span translate="Select_Quantity"></span> : </h6>

            <md-radio-group ng-model="delivery.quantity">
            <div class="" ng-repeat="Quantity in Quantities">
              <md-radio-button  ng-value='Quantity.value'>{{Quantity.value}} <span translate="Liter"></span></md-radio-button>
            </div>
            </md-radio-group>

          </div>
        </div>
      </div>
    </div>
    <!--<div class="">
        <md-button class="md-primary" ng-click="showDialog($event)">Launch Dialog</md-button>
    </div> -->
    <div class="text-center">
      <md-button class="md-raised md-primary loginBtn" ng-click="deliver($event, delivery)" translate="Deliver"></md-button>
    </div>
  </div>
