
  <div  ng-app="milkyWay">
    <div class="headerDiv">
      <h1 class="headerText">Deliver</h1>
    </div>
    <div class="formContainer">
      <div layout-gt-sm="row">
        <div class="listItem">
          <div class="custName"><h5 style="font-weight:bold"><i class="fa fa-user fn18" aria-hidden="true"></i> : {{customer.name}} </h5></div>
          <div class="custPhone"><h6 style="font-size:14px ; font-weight:bold"><i class="fa fa-phone fn18" aria-hidden="true"></i> : {{customer.phoneNo}}</h6></div>
          <div class="">
            <h6 class="selectQuantity">select Quantity : </h6>
            <md-radio-group ng-model="data.group1">

              <md-radio-button value=".5">1/2 liter</md-radio-button>
              <md-radio-button value="1"> 1 liter </md-radio-button>
              <md-radio-button value="2">2 liter</md-radio-button>
              <md-radio-button value="3">3 liter</md-radio-button>

            </md-radio-group>

          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <md-button class="md-raised md-primary loginBtn" ui-sref="home()"> Deliver</md-button>
    </div>
  </div>
