<div  ng-app="milkyWay" ng-cloak>
  <md-content style="height:100%">
    <section layout="row" flex>

      <md-sidenav class="md-sidenav-left" md-component-id="closeEventsDisabled"
                  md-whiteframe="4" md-disable-close-events>
          <div class="addCustBtnContainer">
            <md-button class="md-raised md-primary menuBtnStyle" ui-sref="login()"><i class="fa fa-sign-out" aria-hidden="true"></i> &nbsp; <span translate="log_out"></span></md-button>
            <md-button class="md-raised md-primary menuBtnStyle" ui-sref="price()"><i class="fa fa-money" aria-hidden="true"></i> &nbsp; <span translate="price"></span></md-button>
            <md-button class="md-raised md-primary menuBtnStyle" ng-click="toggleSidenav()"><i class="fa fa-home" aria-hidden="true"></i> &nbsp; <span translate="Home"></span></md-button>
            <md-button class="md-raised md-primary menuBtnStyle" ui-sref="quantity()"><i class="fa fa-tasks" aria-hidden="true"></i> &nbsp; <span translate="Manage_Quantity"></span></md-button>
            <md-button class="md-raised md-primary menuBtnStyle" ui-sref="manageCust()"><i class="fa fa-users" aria-hidden="true"></i> &nbsp; <span translate="Manage_Customer"></span></md-button>
            <md-button class="md-raised md-primary menuBtnStyle" ng-click="translateOptions($event)"><i class="fa fa-globe" aria-hidden="true"></i> &nbsp; <span translate="Translate"></span></md-button>
          </div>
      </md-sidenav>

      <md-content flex layout-padding>
        <div class="" style="
        padding-bottom: 0px;
        padding-top: 0px;">
          <button class="btn menuBtn" ng-click="toggleSidenav()">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
          <div class="titleHeadContainer">
            <h5 class="titleHead" translate="EverGreen"></h5>
          </div>
        </div>
      </md-content>


    </section>


    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab >
        <md-tab-label>
          <div class="tabHead">
            <i class="fa fa-home" aria-hidden="true"></i>  <span translate="Home"></span>
          </div>
        </md-tab-label>
        <md-tab-body>
           <div class="" style="padding:10px">
              <md-input-container class="md-block" flex-gt-sm style="margin:0px inherit">
                <label translate="Search_for_customer"></label>
                <input type="text" ng-model="customer.search">
              </md-input-container>
              <div class="addCustBtnContainer">
                <md-button class="md-raised md-primary addCustBtnContainer" ui-sref="addCustomer()" ><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; <span translate="add_customer"></span></md-button>
              </div>
              <div class="listItem "  ng-repeat="Customer in Customers | filter:customer.search" ui-sref="deliver({customerId: Customer._id})">
                <div class="">
                  <div class="custName"><h5 style="font-weight:bold"><i class="fa fa-user fn18" aria-hidden="true"></i> : {{Customer.name}} </h5></div>
                  <div class="custPhone"><h6 style="font-size:14px ; font-weight:bold"><i class="fa fa-phone fn18" aria-hidden="true"></i> : {{Customer.phoneNo}}</h6></div>
                </div>

              </div>
           </div>
         </md-tab-body>
      </md-tab>
      <md-tab >
        <md-tab-label>
          <div class="tabHead">
          <i class="fa fa-calculator" aria-hidden="true"></i> <span translate="Report"></span>
          </div>
        </md-tab-label>
        <md-tab-body>
        <div class="" style="padding:15px">
          <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px">
            <label translate="Customer_number"></label>
            <input ng-model="user.custNumber">
          </md-input-container>
          <div >
            <div class="clanderLabel" translate="From">From</div>
            <md-datepicker md-min-date="minDate" md-max-date="maxDate" ng-model="fromDate" md-placeholder="Enter date"></md-datepicker>
          </div>
          <div >
            <div class="clanderLabel" translate="To">To</div>
            <md-datepicker md-min-date="minDate" md-max-date="maxDate" ng-model="toDate" md-placeholder="Enter date"></md-datepicker>
          </div>
          <div class="addCustBtnContainer">
            <md-button class="md-raised md-primary addCustBtnContainer" ng-click="generateReport(fromDate, toDate)" >
              <i class="fa fa-pie-chart" aria-hidden="true"></i> &nbsp; <span translate="Generate_Report"></span></md-button>
          </div>
        </div>
         </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
