
  <div ng-app="milkyWay">
    <div class="headerDiv">
      <h1 class="headerText" translate="Quantity"></h1>
    </div>
    <br>
    <br>
      <div layout-gt-sm="row">
        <div class=" ">
      <div class="">
        <md-input-container class="md-block" flex-gt-sm style="margin:0px">
          <label translate="">Enter_Quantity</label>
          <input type="number" ng-model="data.quantity">
        </md-input-container>
      </div>

          <md-button class="md-raised md-primary "   style="width:95%"  ng-click="addQuantities()"><i class="fa fa-plus" aria-hidden="true"></i> <span translate="Add_Quantity"></span></md-button>
          <md-button class="md-raised md-primary "   style="width:95%"  ui-sref="home()"><i class="fa fa-home" aria-hidden="true"></i><span translate="Home"></span></md-button>

        </div>
        <div class="listItem">

          <div class="itemList" ng-repeat="Quantity in Quantities">
            <div class="">
                <p class="quantityText">{{Quantity.value}} <span translate="Liter"></span></p>
            </div>
            <div class="">
              <button class="menuBtn btn" ng-click="deleteQuantities(Quantity)"><i class="fa fa-trash-o" style="color:#e74c3c" aria-hidden="true"></i> </button>
            </div>

        </div>

      </div>
    </div>


  </div>
