<h2  translate="Report"></h2>
<h3>{{Dates.fromDate | date}} To {{Dates.toDate | date}}</h3>

<table>
  <tr>
    <th translate="Customer_name"></th>
    <th translate="Customer_number"></th>
    <th translate="Delivered_Quantity"></th>
    <th translate="கொடுப்பனவு முறை"></th>
    <th><span translate="price"></span> ₹ </th>
  </tr>
  <tr ng-repeat="Delivery in Deliveries">
    <td>{{Delivery.customerName}}</td>
    <td>{{Delivery.customerPhone}}</td>
    <td>{{Delivery.deliverQuantity}}</td>
    <td>{{Delivery.deliveryTime}}</td>
    <td>{{Delivery.deliveryPrice}}</td>
  </tr>

</table>
